{{- $releaseName := .Release.Name -}}
{{- $chartName := include "osmdbt-wrapper.name" . -}}
{{- $tracingUrl := include "osmdbt-wrapper.tracingUrl" . -}}
{{- if .Values.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $releaseName }}-{{ $chartName }}-configmap
data:
  {{- with .Values.dbConfig.sslAuth }}
  POSTGRES_ENABLE_SSL_AUTH: {{ .enabled | quote }}
  {{- if .enabled }}
  POSTGRES_CERTS_MOUNT_PATH: {{ .mountPath | quote }}
  {{- end }}
  {{- end }}
  LOG_LEVEL: {{ .Values.env.logLevel | quote }}
  LOG_PRETTY_PRINT_ENABLED: "false"
  {{ if .Values.env.tracing.enabled }}
  TELEMETRY_TRACING_ENABLED: "true"
  TELEMETRY_TRACING_URL: {{ $tracingUrl }}
  TELEMETRY_TRACING_RATIO: {{ .Values.env.tracing.ratio | quote }}
  {{- else }}
  TELEMETRY_TRACING_ENABLED: "false"
  {{- end }}
  {{ if .Values.env.metrics.enabled }}
  TELEMETRY_METRICS_ENABLED: 'true'
  TELEMETRY_METRICS_URL: {{ $metricsUrl }}
  {{ end }}
  {{ if .Values.env.app.shouldCollectInfo }}
  APP_SHOULD_COLLECT_INFO: "true"
  {{- else }}
  APP_SHOULD_COLLECT_INFO: "false"
  {{- end }}
  {{- with .Values.objectStrorageConfig }}
  OBJECT_STORAGE_ENDPOINT: {{ .endpoint | quote }}
  OBJECT_STORAGE_BUCKET_NAME: {{ .bucketName | quote }}
  OBJECT_STORAGE_ACL: {{ .acl | quote }}
  {{- end }}
  OSMDBT_GET_LOG_MAX_CHANGES: {{ .Values.env.osmdbt.getLogMaxChanges | quote }}
  {{- if .Values.env.osmdbt.verbose }}
  OSMDBT_VERBOSE: "true"
  {{- else }}
  OSMDBT_VERBOSE: "false"
  {{- end }}
  {{- if .Values.app.cron.enabled }}
  APP_CRON_ENABLED: "true"
  APP_CRON_EXPRESSION: {{ .Values.app.cron.expression | quote }}
  APP_CRON_FAILURE_PENALTY: {{ .Values.app.cron.failurePenalty | quote }}
  {{- else }}
  {{- end }}
{{- end -}}
