global:
  cloudProvider: {}
  tracing: {}
  environment: {}

enabled: true
environment: development

annotations: {}
podAnnotations: {}

cloudProvider:
  flavor: openshift
  dockerRegistryUrl: my-registry.io

deployment:
  enabled: true
  replicaCount: 1

image:
  repository: osmdbt-wrapper
  tag: 'v3.0.0'
  pullPolicy: Always

resources:
  enabled: false
  value:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

cronjob:
  enabled: true
  expression: '*/30 * * * * *' # second (optional) | minute | hour | day of month | month | day of week
  failurePenalty: 500 # in MS

env:
  logLevel: info
  tracing:
    enabled: true
    url: 'http://localhost:55681/v1/trace'
    ratio: 1
  osmdbt:
    replicationSlotName: replication_slot_name
    getLogMaxChanges: 50000
    verbose: false
  osmium:
    verbose: false
    progress: false
  app:
    shouldLockObjectStorage: false
    shouldCollectInfo: false

dbConfig:
  host: postgresHost
  username: postgres
  password: 1234
  database: openstreetmap
  sslAuth:
    enabled: false
    secretName: secret-name
    mountPath: '/tmp/certs-postgres'

objectStrorageConfig:
  endpoint: 'http://localhost:9000/'
  bucketName: bucketName
  accessKey: accessKey
  secretKey: secretKey
  acl: public-read

arstotzka:
  enabled: false
  serviceId: id
  networkCM: arstotzka-network-configmap
  mediator:
    timeout: 10000
    retryStrategy:
      enabled: false
    #   retries: 3
    #   shouldResetTimeout: false
    #   isExponential: false
    #   delay: 100
